.about__heading {
    margin: auto;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 3rem;
}

.proffer {
    display: flex;
    flex-wrap: wrap;
    margin-right: -3rem;
    margin-bottom: -3rem;

    @include respond(tabdesk) {
      margin-right: 0;
    }
    & .proffer__item {
        padding: 46px 64px;
        border: 1px solid #DCDCDC;
        box-sizing: border-box;
        border-radius: 10px;
        margin-right: 3rem;
        margin-bottom: 3rem;
        flex: 0 0 calc((100% - 2*30px) / 2);
        max-width: calc((100% - 2*30px) / 2);

        @include respond(tabdesk) {
            flex: 0 0 100%;
            max-width: 100%;
            margin-right: 0;
        }

        @include respond(mobilemini) {
          padding: 2rem;
        }

        & .title {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 2rem;

            @include respond(mobilemini) {
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 1rem;
            }
        }

        & .description {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;

            @include respond(mobilemini) {
                font-size: 14px;
                line-height: 24px;
            }

            & strong {
                display: block;
                color: #1B2E58;
                font-weight: 700;
            }
        }
    }
}

.proffer.proffer_contract {
    & .title {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background: #2275C2;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .proffer__item {
        padding: 20px 30px;
    }
}

.section-page.contract {
    & .title {
        max-width: 70rem;
    }
}

// About company page

.post-info__list {
    & .post-info__item {
        & .title {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 2rem;
        }
        & .description {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;

            & p, & i {
                margin-bottom: 12px;
                display: block;
            }
        }
    }

    & .post-info__item:first-child {
        margin-bottom: 36px;
    }
}

.accordion {
    max-width: 95rem;
    margin-right: auto;
    margin-left: auto;

    & .accordion-item {
        border-bottom-color: transparent;
        border-bottom: unset;
        border-radius: 20px;
        border: 1px solid #EDEDED;
        padding: 8px 10px;
    }
    & .accordion-item:not(:last-child) {
        margin-bottom: 1rem;
    }

    & .accordion-header {
        .accordion-button.collapsed {
            border-radius: 2rem;
        }
        & .accordion-button {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            box-sizing: border-box;
            transition: all 0.3s;
        }
    }
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: unset;
    color: #000;
    text-shadow: 0px 0px 1px #000000;
}

.accordion-flush .accordion-item:last-child {
    border-bottom: 1px solid #EDEDED;
}
.accordion-flush .accordion-item:first-child {
    border-top: 1px solid #EDEDED;
}
.accordion-body {
    color: #606060;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.accordion-button:focus {
    box-shadow: unset;
}
.accordion-button::after {
    background-image: url(../images/icons/plus.svg);
    transition: all 0.3s;
}
.accordion-button:not(.collapsed)::after {
    background-image: url(../images/icons/x.svg);
    transform: rotate(90deg);
}