.global-heading {
    margin-bottom: 5rem;
    @include respond(tabdesk) {
      margin-bottom: 2rem;
    }
    & .title {
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        margin: auto;
        text-align: center;
    }
}

.bank-terms__content:not(:last-child) {
    margin-bottom: 5rem;

    @include respond(tabdesk) {
      margin-bottom: 2rem;
    }
}

.bank-service {
    margin-right: -3rem;
    margin-bottom: -3rem;
    display: flex;
    flex-wrap: wrap;

    @include respond(tabdesk) {
        margin-right: -2rem;
        margin-bottom: -2rem;
    }

    & .bank-service__item {
        background: #F6F9FE;
        border-radius: 10px;
        padding-top: 25px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 25px;
        margin-right: 3rem;
        margin-bottom: 3rem;
        padding-left: 7rem;
        flex: 0 0 calc((100% - 3*30px) / 3);
        max-width: calc((100% - 3*30px) / 3);

        @include respond(tabdesk) {
            margin-right: 2rem;
            margin-bottom: 2rem;
            padding: 2rem;
            flex: 0 0 calc((100% - 2*30px) / 2);
            max-width: calc((100% - 2*30px) / 2);
        }

        & svg {
            margin-right: 3rem;
            flex-shrink: 0;

            @include respond(tabdesk) {
              margin-right: 2rem;
            }
        }

        & .title {
            color: #1B2E58;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 6px;
        }
    }
}

.bank-service.bank-service_debt {
    
    & .bank-service__item {
        flex: 0 0 calc((100% - 4*30px) / 4);
        max-width: calc((100% - 4*30px) / 4);
        padding-left: 0;
        justify-content: center;

        & .bank-service__content {
            max-width: 166px;
        }
    }
}

.bank-service.bank-service_contract {
    & .bank-service__item {
        justify-content: flex-start;
    }
}

/* bank-rights */

.bank-rights {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-right: -3rem;
    margin-bottom: -3rem;
   & .bank-rights__item {
       display: flex;
       align-items: flex-start;
       margin-right: 3rem;
       margin-bottom: 3rem;
       flex: 0 0 calc((100% - 3*30px) / 3);
       max-width: calc((100% - 3*30px) / 3);

       @include respond(tabdesk) {
        flex: 0 0 100%;
        margin-right: 0;
        max-width: 100%;
       }

        & svg {
            margin-right: 3rem;
            flex-shrink: 0;
        }
        .description {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
        }
    }
}
.bank-rights.bank-rights_debt {
    & .bank-rights__item {
        display: flex;
        align-items: flex-start;
        margin-right: 3rem;
        margin-bottom: 3rem;
        flex: 0 0 calc((100% - 4*30px) / 4);
        max-width: calc((100% - 4*30px) / 4);
    }
}

.bank-rights.bank-rights_contract {
    & .bank-rights__item {
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: 1px solid #E6E6E6;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 3rem;
        height: 30rem;
        flex: 0 0 calc((100% - 4*30px) / 4);
        max-width: calc((100% - 4*30px) / 4);

        & .title {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 4rem;
        }

        & svg {
            color: #2275C2;
            margin-bottom: 2rem;
        }
    }
}

.bank-rights.bank-rights_agents {
    & .bank-rights__item {
        height: 337px;
        border: 1px solid #E6E6E6;
        padding-right: 2rem;
        padding-left: 2rem;

        & .title {
            margin-bottom: 1rem;
        }
    }
}

.bank-rights.bank-rights_agents-info {
    & .bank-rights__item {
        flex: 0 0 calc((100% - 3*30px) / 3);
        max-width: calc((100% - 3*30px) / 3);
    }
}
.bank-terms.bank-terms_agent {
    & .global-heading .title {
        font-size: 24px;
        line-height: 29px;
    }
}