.section-page {
    margin: 5rem 0;
    display: block;

    @include respond(tabdesk) {
      margin: 2rem 0;
    }
}

.bank-garant__heading {
    margin: auto;
    text-align: center;
    max-width: 71rem;
    margin-bottom: 3.5rem;

    @include respond(mobilemini) {
      margin-bottom: 2rem;
    }

    & .title {
        margin-bottom: 2rem;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;

        @include respond(mobilemini) {
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 1rem;
        }
    }

    & .description {
        color: #767676;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;

        @include respond(mobilemini) {
            font-size: 14px;
        }
    }
}

.bank-garant__list {
    display: flex;
    margin-right: -3rem;

    @include respond(desktop) {
      flex-wrap: wrap;
      margin-bottom: -3rem;
    }
}

.bank-garant__item {
    background: #FFFFFF;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 25px 4rem;
    flex: 0 0 calc((100% - 3*30px) / 3);
    max-width: calc((100% - 3*30px) / 3);
    margin-right: 3rem;
    display: flex;
    align-items: flex-start;
    transition: all 0.3s;

    @include respond(desktop) {
        flex: 0 0 calc((100% - 2*30px) / 2);
        max-width: calc((100% - 2*30px) / 2);
        margin-bottom: 3rem;
    }

    @include respond(tabdesk) {
        flex: 0 0 100%;
        max-width: 100%;
    }

    @include respond(mobilemini) {
      padding: 0;
      flex-direction: column;
      align-items: center;
      text-align: center;
      box-shadow: unset;
      margin-bottom: 2rem;
    }

    &:hover {
        cursor: pointer;
        background: #1B2E58;
    }
    &:hover .description{
        color: #FFFFFF;
    }
    &:hover .bank-garant__icon{
        background: #2275C2;
    }

    & .bank-garant__icon {
        width: 9rem;
        height: 9rem;
        border-radius: 50%;
        background: #1B2E58;
        margin-right: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        @include respond(tabdesk) {
          margin-right: 0;
          margin-bottom: 2rem;
        }

        @include respond(mobilemini) {
          width: 6rem;
          height: 6rem;
        }

        & svg {
            flex-shrink: 0;

            @include respond(mobilemini) {
              width: 26px;
              height: 26px;
            }
        }
    }

    & .bank-garant__content {
        & strong {
            display: block;
            color: #2275C2;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 1rem;
        }
        & .description {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
        }
    }
}

/* get-garant */

.get-garant {
    background: linear-gradient(63.16deg, #1A548A 0%, rgba(34, 117, 194, 0.95) 100%);
    border-radius: 10px;
    color: #FFFFFF;
    padding: 5rem 0;
}

.step {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -3rem;
    margin-bottom: 5rem;
    & .step__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-right: 3rem;
        flex: 0 0 calc((100% - 4*30px) / 4);
        max-width: calc((100% - 4*30px) / 4);
        & .step__number {
            width: 5rem;
            height: 5rem;
            background: #FFFFFF;
            border-radius: 10px;    
            color: #2275C2;
            font-weight: 600;
            font-size: 36px;
            line-height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2rem;
        }

        & .title {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 1rem;
        }

        & .description {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            display: block;
        }
    }
}

.step__item:not(:last-child)::after {
    content: "";
    position: absolute;
    border: 1px dashed #FFFFFF;
    width: 50%;
    top: 25px;
    right: -30%;
}

.get-garant__body {

    & .global-btn {
        max-width: 215px;
        margin: auto;
        white-space: nowrap;
        background: #FFFFFF;
        color: #2275C2;

        &:hover {
            background: #2275C2;
            border-color: transparent;
            color: #FFFFFF;
        }
    }
}

.get-garant__action {
    color: #6CABE7;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 5rem;
    text-align: center;

    @include respond(tabdesk) {
      margin-bottom: 2rem;
    }
}