.section-page.blog-page {
    background: #F6F9FE;
    border-radius: 10px;
    padding: 3rem 0 6rem;
    margin-bottom: 0rem;
}

.blog__heading {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    margin: auto;
    text-align: center;
    margin-bottom: 3rem;
}

.blog__body {
    & .global-btn {
        max-width: 215px;
        white-space: nowrap;
        margin: auto;
        margin-top: 3rem;
        background: transparent;
        border: 1px solid #1B2E58;
        color: #1B2E58;
        
        &:hover {
            background: #2275C2;
            color: #FFFFFF;
            border-color: transparent;
        }
    }
}

.post-list {
    display: flex;
    align-items: center;
    margin-right: -3rem;
    margin-bottom: -3rem;

    @include respond(tabdesk) {
      flex-wrap: wrap;
    }
    & .post-list__item {
        background: #FFFFFF;
        box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        margin-right: 3rem;
        margin-bottom: 3rem;
        flex: 0 0 calc((100% - 4*30px) / 4);
        max-width: calc((100% - 4*30px) / 4);

        @include respond(tabdesk) {
            flex: 0 0 calc((100% - 2*30px) / 2);
            max-width: calc((100% - 2*30px) / 2);
        }

        & img {
            @include respond(tabdesk) {
              width: 100%;
            }
        }

        & .post-list__content {
            padding: 2rem 2rem 3rem;

            & span {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                display: block;
                margin-bottom: 2rem;
            }

            & a {
                color: #2275C2;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                display: block;
                text-decoration: underline;
            }
        }
    }
}