.doc-list {
    & .doc-list__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        box-shadow: inset 0 0 0 1px #E6E6E6;
        padding: 13px 20px 13px 30px;

        & .doc-list__content {
            align-items: center;
            display: flex;

            & svg,& img {
                margin-right: 2rem;
                flex-shrink: 0;
            }
    
            & .description {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
            }
        }

        & .doc-list__download {
            text-decoration-line: underline;
            color: #2275C2;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }
    }
    & .doc-list__item:not(:last-child) {
        margin-bottom: 2rem;
    }
}