@font-face {
    font-family: 'gilroybold';
    src: url('../../fonts/gilroy-bold-webfont.woff2') format('woff2'),
         url('../../fonts/gilroy-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'gilroymedium';
    src: url('../../fonts/gilroy-medium-webfont.woff2') format('woff2'),
         url('../../fonts/gilroy-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}